@font-face {
  font-family: 'ABeeZee';
  src: url('./assets/font/ABeeZee/ABeeZee-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets//font/Noto_Sans_KR/NotoSansKR-Medium.otf');
}
